/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.toast-snackbar {
  background: #28a745 !important;
  color: #fff !important;
  border-radius: 8px !important;
  padding: 10px 16px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;
  animation: fadeIn 0.4s ease-out !important;
}

.toast-error {
  background: #dc3545 !important;
  color: white !important;
}

.toast-position-top-right {
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
  left: auto !important;
  bottom: auto !important;
}

/* Fade-in toast animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
