<div class="modern-sidebar text-white">
  <div class="sidebar-header">
    <h5>iParker</h5>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
    </li>
    <li class="nav-item">
      <a routerLink="/vehicles" routerLinkActive="active" class="nav-link">Vehicles</a>
    </li>
    <li class="nav-item">
      <a routerLink="/lots" routerLinkActive="active" class="nav-link">Slots</a>
    </li>
    <li class="nav-item">
      <a routerLink="/bookings" routerLinkActive="active" class="nav-link">Bookings</a>
    </li>
    <li class="nav-item">
      <a routerLink="/reports" routerLinkActive="active" class="nav-link">Reports</a>
    </li>
  </ul>
</div>
